.container{
    margin: auto;
    max-width: 600px;

}

.done{
    text-decoration:line-through ;
  }

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
}

.icon{
    width: 30px;
}

.card{
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgb(107, 243, 73);
    color: white;
    border-radius: 25px;

    cursor: pointer;
}

.modal{
   width: 100vh;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.2); 
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hide{
    display: none;
}

.cardModal{
    padding: 20px;
    background-color: white;
}